# Node.js 기본
node_modules
npm-debug.log
yarn-error.log
.env

# Docker 관련
docker-compose.override.yml
docker-compose.local.yml
docker-compose.*.yml
Dockerfile
.dockerignore

# 로그 파일
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# 환경 파일
.env
.env.local
.env.*.local

# 빌드 파일
dist/
build/

# 기타 OS 관련 파일
.DS_Store
Thumbs.db

# IDE/편집기 파일
.vscode/
.idea/
*.sublime-project
*.sublime-workspace

# 테스트 결과
coverage/
*.lcov

# 임시 파일
*.swp
*~